@import "../css/fonts/raleway/raleway.css";
@import "../css/reset.css";
@import "../css/normalize.css";
@import "../css/fonts.css";
@import "../css/icons.css";
@import "../css/colors.css";



/*  */

body,
html {
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden !important;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}

.noscroll {
    overflow: hidden;
}

hr {
    border: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: unset;
}

ul,
li {
    list-style-type: none;
}

button {
    border: none;
}

img {
    width: 100%;
}

body {
    min-width: 375px;
    overflow-x: hidden;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    /* font-family: 'Raleway', 'Times New Roman', Times, serif; */
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9293A4;
    font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
    /* letter-spacing: -0.7px; */
    margin: 0;
    touch-action: manipulation;
}

.btn {
    height: 55px;
    color: white;
    /* display: inline-block; */
    display: block;
    margin: 0 auto;
    text-decoration: none;
    line-height: 1em;
    border-radius: 3px;
    padding-top: 18px;
    padding-bottom: 18px;
    /* padding-left: 30px;
padding-right: 30px; */
    text-align: center;
    cursor: pointer;
}

.btn--intro {
    width: 162px;
    height: 55px;
    border-radius: 0;
}

@media screen and (min-width: 375px) {
    .btn {
        width: 100%;
    }
}

input::placeholder,
textarea::placeholder {
    color: #A1A2AE;
}

input[type="email"],
input[type="text"] {
    border-radius: 5px;
    border: none;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 19px;
    color: #404159;
    width: 100%;
}

@media screen and (min-width: 1440px) {
    input[type="text"] {
        width: unset;
    }
    .quiz--input {
        width: 100% !important;
    }
}

.form {
    color: #404159;
    margin-top: 25px;
}

.form__email,
.form__message,
.form__name,
.quiz--input {
    padding-left: 25px;
    margin-bottom: 15px;
    width: 100%;
}

@media screen and (min-width: 1440px) {
    .form__message,
    .form__name {
        width: 280px !important;
    }
}

.form__summa,
.form__phone {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.form__summa {
    margin-bottom: 25px;
}

@media screen and (min-width: 1440px) {
    .form__summa,
    .form__phone {
        width: 280px !important;
    }
}

.summa {
    width: 100%;
}

.prefix,
.money {
    font-size: 16px;
    line-height: 19px;
}

.money {
    margin: 0 0 0 auto;
}

.form__phone {
    margin-bottom: 15px;
    border-radius: 5px;
}

.flag {
    width: 20px;
    height: 20px;
    background-image: url(../images/flag.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    flex-shrink: 0;
}

.form__btn {
    margin-bottom: 30px;
    width: 100%;
}

@media screen and (min-width: 1440px) {
    .form__btn {
        width: 142px;
        margin: unset;
    }
}

.form__textarea {
    border: none;
    resize: none;
    padding: 18px 25px;
    border-radius: 5px;
}

.info-asteriks {
    display: flex;
    align-items: baseline;
}

@media screen and (min-width: 1440px) {
    .info-asteriks {
        margin: 0 auto;
        width: 559px;
    }
}

.info-asteriks__text {
    padding-left: 20px;
    line-height: 1.5em;
    width: 100%;
}

@media screen and (min-width: 1440px) {
    .info-asteriks__text {
        font-size: 14px;
    }
}

.wrap-list--items {
    flex-wrap: wrap;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 32px 16px 32px 32px;
    background-color: white;
    box-shadow: 0px 0px 70px rgba(15, 16, 37, 0.07);
    margin-top: 15px;
}

.list-item--border {
    border: 1px solid #E6E6EC;
    box-shadow: none;
}

.btn--quiz {
    border-right: 1px solid #5A5EB8;
    border-left: 1px solid #5A5EB8;
    border-top: 1px solid #5A5EB8;
    border-bottom: 1px solid #5A5EB8;
}

.list-item-wrapper {
    display: flex;
    align-items: center;
}

.list-item__icon {
    width: 26px;
    height: 26px;
    margin-right: 20px;
}

.list-item__text {
    line-height: 19px;
    color: #404159;
    width: calc(100% - 46px);
}

.quote {
    font-style: italic;
}

.pb-20 {
    padding-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.h-130 {
    height: 130px;
}

.fs-12 {
    font-size: 12px;
    line-height: 14px;
}

.no-border {
    border: none !important;
}

.menu-line {
    border-top: 1px solid #EDEDED;
    /* border: none; */
    grid-column-start: 1;
    grid-column-end: 3;
    display: none;
}

@media (min-width: 1440px) {
    .menu-line {
        display: block;
    }
}

.title {
    line-height: 38px;
    color: #404159;
    font-weight: 600;
}

.w--248 {
    width: 248px;
}

.w--100pr {
    width: 100%;
    margin-bottom: 50px;
}


/* header */

.main {
    /* padding-top: 117px; */
    overflow-x: hidden;
}

.header {
    /* position: fixed; */
    background-color: white;
    /* z-index: 100; */
    width: 100%;
    height: 59px;
}

@media (min-width: 1440px) {
    .header {
        height: 100%;
    }
}

.header__container {
    /* width: 100%; */
    min-height: 117px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 59px;
    /* column-gap: 10px; */
    align-items: center;
    /* padding: 0 25px; */
    position: relative;
}

@media (min-width: 1440px) {
    .header__container {
        grid-template-rows: 80px 1px 60px;
    }
}

.logo {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 29px;
    line-height: 29px;
    font-weight: 600;
    color: #404159;
    margin-left: 25px;
    display: none;
}

@media (min-width: 1440px) {
    .logo {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0 0 0 calc(50vw - 585px);
    }
}

.logo__link {
    font-weight: 600;
    color: #404159;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 27px 29px;
    height: 29px;
    line-height: 29px;
    font-weight: 600;
    padding-left: 41px;
    text-decoration: none;
}

@media (min-width: 1440px) {
    .logo__link {
        font-size: 24px;
    }
}

.logo__subtitle {
    /* height: 29px; */
    font-size: 10px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 31px;
    width: 182px;
    color: #9293A4;
    font-weight: 400;
}

@media (min-width: 1440px) {
    .logo__subtitle {
        font-size: 12px;
    }
}

.header__menu-btn {
    width: 201px;
    height: 28px;
    position: relative;
    border: none;
    background-color: white;
    padding: 0;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    font-weight: 600;
    font-size: 14px;
    color: #404159;
    margin-left: 25px;
    background-image: url(../images/gamburger.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px;
    transition: all 0.3s;
}


.header__menu-btn--close {
    background-image: url(../images/close.svg);
    transition: all 0.3s;
}

.header__menu--logo {
    width: 26px;
    height: 28px;
    margin-left: 21px;
    margin-right: 16px;
}

.header__menu-btn::after {
    /* position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #404159;
    top: 4px;
    left: 0;
    box-shadow: 0 4px 0 0 #404159, 0 8px 0 0 #404159; */
}

@media (min-width: 1440px) {
    .header__menu-btn {
        display: none;
    }
}

.header__menu {
    padding-top: 81px;
    padding-bottom: 91px;
    display: flex;
    position: fixed;
    top: 59px;
    background-color: rgba(249, 250, 255, 1);
    z-index: 1;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    /* opacity: 0; */
    /* pointer-events: none; */
    transform: translateX(100%);
    overflow-y: auto;
}

@media (min-width: 1440px) {
    .header__menu {
        transform: translateX(0);
        padding: 0;
        display: block;
        position: relative;
        top: unset;
        height: unset;
        width: unset;
        z-index: unset;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 3;
        pointer-events: unset;
    }
}

.menu__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 3em;
    color: #404159;
    margin-bottom: 3em;
}

@media (min-width: 1440px) {
    .menu__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #404159;
    }
}

.menu__link:hover {
    color: #232780;
    transition: all 0.3s;
}

.menu__link--active {
    color: #232780;
}

.nav--show {
    /* opacity: 1; */
    flex-direction: column;
    align-items: center;
    transform: translateX(0);
}

.menu__items {
    margin-bottom: 81px;
    padding: 0;
}

@media screen and (min-width: 1440px) {
    .menu__items {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1170px;
    }
}

.main--link {
    display: none;
}

@media screen and (min-width: 1440px) {
    .main--link {
        display: block;
    }
}

.header__phone {
    font-weight: 600;
    font-size: 28px;
    line-height: 23px;
    color: #404159;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.header__phone:hover {
    color: #232780;
    transition: all ease 0.3s;
}

.header__mail {
    font-size: 18px;
    line-height: 16px;
    color: #E5C67A;
    display: block;
    margin-top: 26px;
    margin-bottom: 36px;
    text-decoration: none;
}

.header__mail:hover {
    color: #232780;
    transition: all ease 0.3s;
}

.btn__header {
    margin-bottom: 92px;
    width: 159px;
}

@media (min-width: 1440px) {
    .header__phone,
    .header__mail,
    .btn__header {
        display: none;
    }
}

.header__social {
    /* margin-right: 25px; */
    display: none;
}

@media (min-width: 1440px) {
    .header__social {
        grid-row-start: 1;
        grid-column-start: 2;
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 585px;
        /* margin: 0 0 0 50px; */
    }
}


.phone-and-whatapp {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

@media (min-width: 1440px) {
    .phone-and-whatapp {
        display: none;
    }
}

.header__social-wrapper {
    display: grid;
    justify-items: right;
}

.header__social-btn {
    display: none;
}

.header__social-phone {
    display: none;
    font-weight: 600;
    font-size: 24px;
    white-space: nowrap;
    color: #404159;
    text-decoration: none;
    margin-bottom: 5px;
}

@media (min-width: 1440px) {
    .header__social-phone {
        display: block;
    }
}

.header__social-phone:hover {
    color: #232780;
    transition: all ease 0.3s;
}

.header__social-mail {
    display: none;
    font-size: 16px;
    color: #232780;
    text-decoration: none;
}

@media (min-width: 1440px) {
    .header__social-mail {
        display: block;
    }
}

.header__social-mail:hover {
    color: #232780;
    transition: all ease 0.3s;
}

.header__social-btn {
    width: 159px;
    height: 55px;
    margin: unset;
    margin-left: 37px;
    margin-right: 21px;
}

@media (min-width: 1440px) {
    .header__social-mail,
    .header__social-btn {
        display: block;
    }
}

.social__list {
    display: flex;
    align-items: baseline;
    padding: 0 10px;
    min-width: 160px;
    justify-content: space-around;
}

.social__item {
    width: 19px;
    height: 19px;
    display: block;
}

.menu-devider {
    background-image: url(../images/menu-devider.svg);
    background-repeat: no-repeat;
    background-position: center center;
}


/* header */


/* intro */

.intro {
    height: 755px;
    background-color: #232780;
    background-image: url(../images/bg-human.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 300px;
    padding: 50px 25px 0 25px;
    text-align: center;
    color: white;
}

@media (min-width:1440px) {
    .intro {
        height: 650px;
        background-position-x: right;
        background-position-y: bottom;
        background-size: auto 500px;
    }
}

@media (min-width:1440px) {
    .intro__wrapper {
        padding-top: 50px;
        max-width: 1170px;
        margin: 0 auto;
        text-align: left;
    }
}

.intro__wrapper--etc {
    font-size: 42px;
}

@media (min-width:1440px) {
    .intro__wrapper--etc {
        padding-top: 30px;
        max-width: 1170px;
        margin: 0 auto;
        text-align: left;
    }
}

.intro__btn {
    width: 186px;
}

@media (min-width:1440px) {
    .intro__btn {
        margin: 0;
    }
}

.intro--quiz {
    height: 321px;
    background-image: url(../images/b.svg);
    background-position: right top;
    background-repeat: no-repeat;
}

.intro__headline {
    font-size: 14px;
    margin-bottom: 32px;
    color: white;
}

.intro__title {
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    margin-bottom: 15px;
}

.intro__title-link {
    text-decoration: none;
    color: white;
}

.intro__title--etc,
.intro__title--quiz {
    text-align: left;
    font-weight: 600;
    font-size: 46px;
    line-height: 38px;
}

.intro__subtitle {
    margin-bottom: 32px;
    color: #BDBED9;
    font-weight: 500;
    font-size: 16px;
}

.intro__subtitle--quiz {
    text-align: left;
}

.intro__btns-quiz {
    display: flex;
}

.intro--etc {
    height: 275px;
    background-image: url(../images/b.svg);
    background-repeat: no-repeat;
    background-position-x: 45vw;
    background-position-y: center;
    background-size: 75vw;
    text-align: left;
}

@media (min-width: 1440px) {
    .intro--etc {
        background-size: 75vh;
        background-position-x: 40vw;
        background-position-y: -15vh;
    }
}


/* intro */


/* feedback */

.feedback__container {
    /*  */
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
}

@media (min-width: 1440px) {
    .feedback__container {
        max-width: 1170px;
        margin: 0 auto;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 40px;
    }
}

.feedback__wrapper {
    margin-bottom: 25px;
}

@media (min-width: 1440px) {
    .feedback__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.feedback__title {
    font-size: 22px;
    margin-bottom: 12px;
}

.feedback__text {
    font-size: 14px;
    line-height: 20px;
}

.feedback__headline {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.feedback__headline--desktop {
    display: none;
}

@media (min-width: 1440px) {
    .feedback__headline--desktop {
        display: block;
    }
    .feedback__headline--mobile {
        display: none;
    }
}

.feedback__form {
    display: block;
}

@media (min-width: 1440px) {
    .feedback__form {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
}

.feedback--benefits {
    margin-top: -125px;
}

.feedback__check-label {
    display: flex;
    margin-top: 30px;
    margin-bottom: 47px;
}

.feedback__check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.feedback__check-box {
    width: 19px;
    height: 19px;
    margin-top: 5px;
    flex-shrink: 0;
}

.feedback__check-border {
    fill: none;
    stroke-width: 1px;
    stroke: #232780;
}

.feedback__check-mark {
    fill: none;
}

.feedback__check-input:checked+* .feedback__check-mark {
    fill: #232780;
}

.feedback__label-text {
    color: #9293A4;
    font-size: 14px;
    line-height: 18px;
    padding-left: 25px;
    padding-right: 25px;
}


/* feedback */


/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

@media (min-width: 1440px) {
    .footer {
        width: 1170px;
        margin: 0 auto;
        padding-top: 78px;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }
}

@media (min-width: 1440px) {
    .footer__wrapper {
        display: flex;
        justify-content: start;
    }
}

@media (min-width: 1440px) {
    .footer__header {
        width: 350px;
    }
}

.footer__logo-link {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 43px 40px;
    height: 43px;
    line-height: 43px;
    font-weight: 600;
    padding-left: 41px;
    color: #404159;
    font-size: 22px;
    margin-bottom: 17px;
    max-width: 325px;
    text-decoration: none;
}

@media (min-width: 1440px) {
    .footer__logo-link {
        padding-left: 69px;
        display: block;
    }
}

.footer__title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

@media (min-width: 1440px) {
    .footer__btn {
        width: 248px;
        margin: 0;
    }
}

.submenu {
    margin-top: 50px;
    margin-bottom: 60px;
}

@media (min-width: 1440px) {
    .submenu {
        width: 700px;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }
}

.submenu--mini {
    margin-top: 1px;
}

@media (min-width: 1440px) {
    .submenu--mini {
        /* max-width: 100px; */
        display: flex;
        flex-direction: column;
    }
}

.submenu__items {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1440px) {
    .submenu__items {
        flex-direction: column;
        height: 100%;
    }
}

.submenu--item {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}

.submenu--link {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #404159;
    text-decoration: none;
}

.submenu--link:hover {
    color: #232780;
    transition: all ease 0.3s;
}

.submenu--sublink {
    line-height: 16px;
    color: #9293A4;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}

@media (min-width: 1440px) {
    .copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 67px;
        margin-bottom: 30px;
    }
}

.copy {
    font-size: 14px;
    line-height: 20px;
    color: #9293A4;
    margin-top: 57px;
}

@media (min-width: 1440px) {
    .copy {
        margin: 0;
    }
}

.madein {
    text-decoration: none;
    color: #9293A4;
    font-size: 14px;
    line-height: 20px;
    margin-top: 40px;
}

@media (min-width: 1440px) {
    .madein {
        margin: 0;
    }
}

.dublin-group {
    color: #232780;
}

/* footer */


/* popup */

.popup {
    overflow: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

@media(min-width: 1440px) {
    .popup__body {
        padding: 60px 70px;
    }
}

.popup__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 35px 25px;
    max-width: 595px;
}

.popup__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #404159;
    margin-bottom: 16px;
}

.popup__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9293A4;
    margin-bottom: 10px;
}

.form__name--popup,
.form__phone--popup {
    width: 100% !important;
}

@media (min-width: 1440px) {
    .popup__content {
        padding: 60px 70px;
    }
}

.popup__close {
    position: absolute;
    right: 16px;
    top: 16px;
    background-image: url(../images/cancel.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}

.feedback__form--popup {
    display: flex;
    flex-direction: column;
}


/* 
.main {
    display: none;
}

.header {
    display: none;
}

.footer {
    display: none;
}
 */


/* popup */

@media(min-width: 1440px) {
    .list__items {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:1440px) {
    .wrap {
        flex-wrap: wrap;
    }
}

.h--110 {
    height: 110px;
}


/* stages */

.stages {
    padding-top: 93px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width:1440px) {
    .stages__wrapper {
        width: 1170px;
        margin: 0 auto;
    }
}

.stages__title {
    font-size: 32px;
    margin-bottom: 20px;
}

.stages__text {
    margin-bottom: 60px;
}

.stages__items {
    /* pointer-events: none; */
    /* overflow-x: scroll; */
    display: flex;
    /* margin-right: -25px; */
    margin-bottom: 50px;
    padding-bottom: 25px;
}

.stages__items::-webkit-scrollbar {
    /* width: 0px; */
}

@media (min-width:1920px) {
    .stages__items {
        display: flex;
        overflow-x: hidden;
    }
}

@media (min-width:1440px) {
    .stages__items {
        margin-right: calc(585px - 50vw);
    }
}

.stage__item {
    /* min-width: 375px; */
}

.stage__item--title {
    font-weight: 600;
    line-height: 19px;
    color: #404159;
    margin-bottom: 15px;
}

.stage__item--text {
    font-size: 14px;
    line-height: 20px;
    padding-right: 60px;
}

.stage__line {
    border-top: 1px solid #E6E6EC;
    position: relative;
    top: -60px;
}

.stage__circle {
    position: absolute;
    top: -19px;
    width: 39px;
    height: 39px;
    background-color: white;
    border: 1px solid #E6E6EC;
    border-radius: 100%;
}

.stage__point {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #E5C67A;
}

.stage__item--subtitle {
    font-size: 14px;
    line-height: 16px;
    color: #E5C67A;
    margin-bottom: 98px;
}

.stages__info {
    margin-top: 40px;
    margin-bottom: 60px;
}


/* stages */

