.contact {
    background-color: #F9FAFF;
    padding: 45px 25px 100px 25px;
}

@media (min-width: 1440px) {
    .contact__wrapper {
        width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1440px) {
    input[type="text"] {
        width: 100% !important;
    }
}

@media screen and (min-width: 1440px) {
    .form__phone {
        width: 100% !important;
    }
}

@media (min-width: 1440px) {
    .feedback__container {
        width: 595px;
        padding: 59px 70px;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1440px) {
    .feedback__form {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1440px) {
    .form__textarea {
        width: 100%;
        height: 96px;
    }
}

@media (min-width: 1440px) {
    .contact__items {
        padding-top: 27px;
        padding-right: 238px;
    }
}

.contact-item {
    /*  */
    margin-bottom: 50px;
}

.contact-title {
    font-size: 18px;
}

.contact-content {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #404159;
}

.feedback__check-label {
    display: flex;
    margin-top: 30px;
    margin-bottom: 47px;
}

.feedback__check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.feedback__check-box {
    width: 19px;
    height: 19px;
    margin-top: 5px;
    flex-shrink: 0;
}

.feedback__check-border {
    fill: none;
    stroke-width: 1px;
    stroke: #232780;
}

.feedback__check-mark {
    fill: none;
}

.feedback__check-input:checked+* .feedback__check-mark {
    fill: #232780;
}

.feedback__label-text {
    color: #9293A4;
    font-size: 14px;
    line-height: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

.map {
    background-image: url(../images/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 483px;
    width: 100%;
}