/*  */

.intro__wrapper--faq {
    /* margin-top: 30px; */
}

.faq-list {
    padding: 32px 25px 70px 25px;
    background-color: #F9FAFF;
}

@media(min-width: 1440px) {
    .faq__wrapper {
        width: 1170px;
        margin: 0 auto;
    }
}

.faq-item {
    background-color: white;
    padding: 25px;
    margin-bottom: 15px;
}

.faq-item:hover {
    cursor: pointer;
}

.faq-title {
    background-image: url(../images/arrow-down.svg);
    background-position-x: calc(100% - 1em);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1em;
    color: #404159;
    padding-right: 50px;
}

.faq-title--active {
    background-image: url(../images/arrow-up.svg);
    background-position-x: calc(100% - 1em);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1em;
    transition: all 0.3s;
}

.faq-text {
    display: none;
    margin-top: 25px;
}