.individual__wrapper {
    padding: 35px 25px 35px 25px;
}

.link-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

@media (min-width: 1440px) {
    .link-list {
        flex-direction: row;
        margin-left: 4px;
    }
}

.link-item {
    text-decoration: none;
    padding: 20px 30px;
    height: 64px;
    border: 1px solid #E6E6EC;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #404159;
    margin-top: -1px;
}

.link-item--active,
.link-item:hover {
    background-color: #232780;
    border: 1px solid #232780;
    color: white;
    transition: all 0.3s;
}

@media (min-width: 1440px) {
    .link-item {
        width: 25%;
        margin-top: 0;
        margin-right: -1px;
    }
}

@media (min-width: 1440px) {
    .individual__block {
        width: 1170px;
        margin: 0 auto;
    }
}

.individual__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #404159;
    margin-top: 50px;
    margin-bottom: 30px;
}

@media(min-width:1440px) {
    .individual__title {
        margin-bottom: 30px;
    }
}

.individual__text {
    margin-bottom: 2em;
}

.feedback--individual {
    margin-bottom: 88px;
}

@media (min-width: 1440px) {
    .feedback--individual {
        margin-bottom: 0px;
    }
}

.individual__list--items {
    margin-bottom: 50px;
}

@media (min-width: 1440px) {
    .individual__list--items {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .individual__list--item {
        width: 32%;
    }
}

.individual__list-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #404159;
    margin-top: 91px;
    margin-bottom: 41px;
}

.individual__law {
    display: flex;
    align-items: center;
    height: 205px;
    width: 100%;
    background-color: #E5C67A;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-image: url(../images/orel.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (min-width: 1440px) {
    .individual__law {
        background-size: 485px;
        background-position-y: top;
        background-position-x: 85%;
        padding-left: 53px;
    }
}

.individual__law-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
}

.individual__law-quote {
    font-size: 16px;
    font-family: 'ralewaylight_italic';
    font-style: italic;
}

.moments__list {
    margin-top: 120px;
}

.moments__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.moments__item {
    width: 32%;
}

.moments__list--title {
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #404159;
}