/* .quiz */

@media (min-width: 1440px) {
    .intro__wrapper--quiz {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }
}

@media (min-width: 1440px) {
    .btn--intro,
    .btn--quiz {
        width: 245px;
        margin: 0;
    }
}

.quiz {
    padding-top: 35px;
    padding-bottom: 75px;
    background-color: #F9FAFF;
}

@media (min-width: 1440px) {
    .quiz {
        padding-top: 62px;
    }
}

@media (min-width: 1440px) {
    .quiz__wrapper {
        width: 1170px;
        margin: 0 auto;
    }
}

.quiz__progressbar {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #9293A4;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

@media (min-width: 1440px) {
    .quiz__progressbar {
        padding-left: 0;
        padding-right: 0;
    }
}

.quiz__progressbar-line {
    display: grid;
    height: 3px;
    background: linear-gradient(0deg, #E3E5ED, #E3E5ED), #F5F5F5;
    margin-bottom: 25px;
}

.quiz__progressbar-process {
    height: 3px;
    background: linear-gradient(0deg, #232780, #232780), #F5F5F5;
}

.quiz__progressbar-ready {
    float: left;
    width: 50%;
}

.quiz__progressbar-count {
    float: right;
    width: 50%;
    text-align: right;
}

.quiz__progressbar-percent {
    color: #232780;
}

.quiz__qa {
    background-color: white;
    padding: 56px 25px 91px 25px;
}

@media (min-width: 1440px) {
    .quiz__qa {
        padding: 100px 70px 91px 85px;
    }
}

.quiz__subtitle {
    /* identical to box height, or 150% */
    letter-spacing: 0.01em;
    color: #232780;
    margin-bottom: 19px;
}

.quiz__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #404159;
    margin-bottom: 17px;
}

.quiz__question {
    margin-bottom: 29px;
}

.quiz__answers-list {
    margin-top: 59px;
    margin-bottom: 80px;
}

.quiz__answers-item {
    color: #404159;
    margin-bottom: 29px;
}

.quiz__answers-label {
    display: flex;
    align-items: center;
}

.quiz__answers-text {
    width: 100%;
    padding-left: 31px;
}

.check__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.check__box {
    width: 30px;
    height: 30px;
    /* margin-top: 5px; */
}

.check__border {
    fill: none;
    stroke-width: 3px;
    stroke: #E6E6EC;
}

.check__mark {
    fill: none;
}

.check__input:checked+* .check__mark {
    fill: #232780;
}

.check__input:checked+* .check__border {
    stroke: none;
}

@media (min-width: 1440px) {
    .quiz__form-block {
        display: flex;
        align-items: center;
    }
}

.quiz__form-btn-next {
    width: 100%;
    display: inline-block;
}

@media (min-width: 1440px) {
    .quiz__form-btn-next {
        width: 313px;
        margin: 0 56px 0 0;
    }
}

.btn--quiz {
    margin-bottom: 30px;
    font-size: 21px;
}

.back {
    color: #9293A4;
    text-decoration: none;
    margin-top: 35px;
    display: block;
    text-align: center;
}

@media (min-width: 1440px) {
    .back {
        margin-top: 0;
        text-align: left;
    }    
}


.back:hover {
    color: #232780;
}

/* .quiz */