.reviews {
    padding: 32px 25px 70px 25px;
    background-color: #F9FAFF;
}

@media (min-width: 1440px) {
    .reviews__items {
        width: 1170px;
        margin: 0 auto;
        column-count: 2;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between; */
    }
}

.reviews__item {
    background-color: white;
    padding: 45px 25px 35px 25px;
    margin-bottom: 15px;
}

@media (min-width: 1440px) {
    .reviews__item {
        /* width: 49%;
        height: fit-content; */
        page-break-inside: avoid;
        break-inside: avoid;
    }
}

.reviews__title {
    color: #404159;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.reviews__text {
    margin-top: 25px;
}

.reviews__date {
    margin-top: 25px;
}